.App {
  text-align: center;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}

.form-warrper {
  width: 60%;
  margin: 0 auto; /* 이걸로 가운데정렬이 됨 */
}

.login {
  vertical-align: middle;
  height: 300px;
  width: 20%;
  margin: 0 auto;
}

.login.flexDisplay.logH4 {
  width: 20%;
  margin: 0 auto;
}
.login.flexDisplay.logInput {
  width: 80%;
  margin: 0 auto;
}

.backgray {
  background-color: gray;
}

.redFont {
  color: red;
  font: bold;
}
